@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */
body {
	font-family: 'Noto Serif KR', serif;
/* 	font-family: 'Noto Sans KR', sans-serif; */
}