<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MountainMapper">

	<sql id="MCriteria">
		<where>
			<if test="keyword != null">
				mname LIKE '%' || #{keyword} || '%'
				OR mloc LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</sql>
	
	
	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM mountain
		<include refid="MCriteria"></include>
	</select>

	<insert id="insertSelectKey">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			SELECT seq_mountain.nextval FROM dual
		</selectKey>

		INSERT INTO mountain (no, mname, mloc, height, status, description, filename) <!-- null 허용 -->
		VALUES (#{no}, #{mname}, #{mloc}, #{height}, #{status}, #{description}, #{filename, jdbcType=VARCHAR})
	</insert>

	<select id="read" resultType="org.zerock.domain.mountain.MountainVO">
		SELECT * FROM mountain WHERE no = #{no}
	</select>

	<update id="update">
		UPDATE mountain
		SET mname = #{mname},
			mloc = #{mloc},
			height = #{height},
			status = #{status},
			description = #{description}
			<if test="filename != null">
			, filename = #{filename, jdbcType=VARCHAR} <!-- null 허용 -->
			</if> 
		WHERE no = #{no}
	</update>

	<delete id="delete">
		DELETE FROM mountain WHERE no = #{no}
	</delete>

	<select id="getList" resultType="org.zerock.domain.mountain.MountainVO">
	<![CDATA[
		SELECT * FROM mountain WHERE no > 0
		ORDER BY no DESC
	]]>
	</select>

	<select id="getListWithPaging" resultType="org.zerock.domain.mountain.MountainVO">
	<![CDATA[
	SELECT no, mname, mloc, height, status, description, filename
	FROM 
		(
		SELECT
			ROW_NUMBER() OVER (ORDER BY no DESC) rn,
			no, mname, mloc, height, status, description,filename
		FROM 
			mountain
	]]>

		<include refid="MCriteria"></include>
	
	<![CDATA[
	 	)
	WHERE
		rn BETWEEN (#{curPage} - 1) * #{amount} + 1 AND #{curPage} * #{amount}
	]]>
	</select>

	<select id="existMname" parameterType="String" resultType="int">
		SELECT count(*) 
		FROM mountain 
		WHERE mname = #{mname}
	</select>


	<!-- for CONQUEST table -->
	<select id="getMnameList" resultType="org.zerock.domain.mountain.MnameVO">
		SELECT no, mname FROM mountain
		ORDER BY mname
	</select>
	
	<select id="getConqListbyMem" parameterType="long" resultType="org.zerock.domain.mountain.ConqStickerVO">
		SELECT c.no as cno,  mountain_no, conquestcnt, mname
		FROM conquest c JOIN mountain m 
		ON c.mountain_no = m.no 
		WHERE c.member_no = #{user_no}
		ORDER BY m.mname
	</select>
	
</mapper>	