<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MountainMapper">



<insert id="insertSelectKey">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
		select seq_board.nextval from dual
		</selectKey>
	
		insert into tbl_board (no, mName, mLoc , height, status)
		values (#{no }, #{mName}, #{mLoc}, #{height}, #{status})
	</insert>
	
	
</mapper>	