<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.NoticeMapper"> <!-- interface -->
	<sql id="search">
		<where>
			<trim suffixOverrides="AND">
				<if test="category != null and category != ''">category = #{category} AND</if>
				<!-- oracle 연결 연산자 || : '%?%' -->
				<if test="keyword != null">
					(title LIKE '%' || #{keyword} || '%'
					OR content LIKE '%' || #{keyword} || '%')
				</if>
			</trim>
		</where>
	</sql>

	<select id="getTotalCount" resultType="int">
      SELECT count(*) FROM notice
    
      <include refid="search"></include> 
	
	</select>

	<insert id="insertSelectKey">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			SELECT seq_notice.nextval FROM dual
		</selectKey>
		INSERT INTO notice (no, category, title, content, member_no, reply)
		VALUES (#{no}, #{category}, #{title}, #{content}, #{member_no}, #{reply})
	</insert>

	<select id="read" resultType="org.zerock.domain.notice.NoticeVO">
		SELECT * FROM noticeInfo WHERE no = #{no}
	</select>

	<update id="updateCnt">
		UPDATE notice
		SET cnt = cnt + 1
		WHERE no = #{no}
	</update>

	<update id="update">
		UPDATE notice
		SET category = #{category}, 
			title = #{title}, 
			content = #{content},
			reply = #{reply}
		WHERE no = #{no}
	</update>

	<update id="updateReplyCnt">
		UPDATE notice
		SET replycnt = replycnt + #{variation}
		WHERE no = #{no}
	</update>

	<delete id="delete">
		DELETE notice WHERE no = #{no}
	</delete>

	<select id="getList" resultType="org.zerock.domain.notice.NoticeVO">
   <![CDATA[
   	  SELECT * FROM noticeInfo
   	  WHERE no > 0
   	  ORDER BY no DESC
   ]]>
	</select>

	<select id="getListWithPaging" resultType="org.zerock.domain.notice.NoticeVO">
   <![CDATA[
   	  SELECT 
   	  	  no, category, title, content, regdate, cnt, member_no, nickname, reply, replycnt
	  FROM (
		  SELECT ROW_NUMBER() OVER (ORDER BY no DESC) rn,
			     no, category, title, content, regdate, cnt, member_no, nickname, reply, replycnt
	  	  FROM noticeInfo
   ]]>
   
	  <include refid="search"></include> 
	  
   <![CDATA[   	  
	  )
  	  WHERE 
  	  	  rn BETWEEN (#{curPage} - 1) * #{amount} + 1  AND #{curPage} * #{amount}
   ]]>
	</select>
</mapper>