<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.RestaurantMapper">
<sql id = "mountain_no">
SELECT no FROM mountain WHERE mname LIKE '%' || #{mname} || '%'
</sql>

<sql id="criteria">
		<where>
		<foreach item="type" collection="typeArr" separator="OR">
			<choose>
				<when test="type == 'M'.toString()">
					mountain_no = (SELECT no FROM mountain WHERE mname LIKE '%' || #{keyword} || '%' OR mloc LIKE '%' || #{keyword} || '%')
				</when>
				<when test="type == 'N'.toString()">
					rname LIKE '%' || #{keyword} || '%'
				</when>
				<when test="type == 'L'.toString()">
					rloc LIKE '%' || #{keyword} || '%'
				</when>
				<when test="type == 'F'.toString()">
					menu LIKE '%' || #{keyword} || '%'
				</when>
				<when test="type == 'D'.toString()">
					description LIKE '%' || #{keyword} || '%'
				</when>
			</choose>
		</foreach>
	</where>
</sql>

<select id="getListPaging" resultType="org.zerock.domain.restaurant.RestaurantVO">
<![CDATA[SELECT no, mountain_no, rname, rloc, contact, menu, description, filename, likecnt, dislikecnt, mname
FROM
(SELECT ROW_NUMBER() OVER (ORDER BY no DESC) rn, no, mountain_no, rname, rloc, contact, menu, description, filename,
likecnt, dislikecnt, mname FROM res_view
]]>
	 <include refid="criteria"></include>

<![CDATA[
)
WHERE rn BETWEEN (#{pageNo} -1) * #{amount} + 1 AND #{pageNo} * #{amount}]]> 
</select>

<select id="getList" resultType="org.zerock.domain.restaurant.RestaurantVO">
<![CDATA[SELECT*FROM restaurant WHERE no > 0]]>
</select>

<insert id="insertSelectKey">
<selectKey keyProperty="no" order="BEFORE" resultType="long">
select seq_restaurant.nextval from dual
</selectKey>

insert into restaurant (no, mountain_no, rname, rloc, contact, menu, description, filename)
values (#{no}, (<include refid="mountain_no"></include>), #{rname}, #{rloc}, #{contact}, #{menu}, #{description}, #{filename})
</insert>

<delete id="delete">
delete from restaurant where no = #{no}
</delete>

<delete id="deleteLikeResno">
      DELETE FROM res_like 
      WHERE resno = #{resno}
</delete>

<update id="update">
update restaurant set mountain_no= (<include refid="mountain_no"></include>), rname= #{rname}, rloc= #{rloc}, contact= #{contact}, menu= #{menu}, 
description= #{description}, filename = #{filename} where no = #{no}
</update>

<select id="read" resultType="org.zerock.domain.restaurant.RestaurantVO">
SELECT no, mountain_no, rname, rloc, contact, menu, description, filename, likecnt, dislikecnt, mname FROM
(SELECT ROW_NUMBER() OVER (ORDER BY no DESC) rn, no, mountain_no, rname, rloc, contact, menu, description, filename, likecnt, dislikecnt, mname FROM res_view)
WHERE no = #{no}
</select>

<select id="getTotalCnt" resultType="int">
	SELECT count(*) FROM res_view <include refid="criteria"></include>
</select>

</mapper>