@charset "UTF-8";

#replyForm {
/* 	margin: 0; */
/* 	padding: 0; */
}

#replyForm input {
}

#reply {
	disaply: inline;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #ced4da;
}

#reply:focus {
    border: none;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
}

#newReplyBtn {
/* 	width: 10%; */
}

h3 {
	cursor: pointer;
}


/* NReply */
.fa-ellipsis-h {
	color: lightgrey;
}

.modReplyBtn, .delReplyBtn, .cancelReplyBtn, .submitReplyBtn {
	color: black;
}

.fa-ellipsis-h, .modReplyBtn, .delReplyBtn, .cancelReplyBtn, .submitReplyBtn {
	cursor: pointer;
}

.form-control.replies {
	border: none;
	box-shadow: none;
	background-color: transparent;
	padding: 0;
}